@model DocumentViewModel
<section class="all-documents-header">
    <div class="container">
        <header class="all-category-name col-12 p-0 py-3">
            <div class="mx-auto all-category-content">
                <h1 class="all-category-title">@Model.category.Name</h1>
                <article class="all-category">
                    <div class="container">
                        <div class="row">
                            <div class=" mx-auto all-category-text">
                                <p>@Model.category.Description</p>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </header>
    </div>
</section>
<section class="documents-filter">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter Button
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>
</section>
<section class="documents">
    <div class="container">
        @foreach (Document document in Model.Documents)
        {
            <div class="document-item">
                <div class="document-info">
                    <div class="document-icon">
                        <a href="#">
                            <i class="fas fa-file-alt"></i>
                        </a>
                    </div>
                    <div class="document-header">
                        <h3><a asp-action="DocumentDesc" asp-controller="Home" asp-route-id="@document.Id">@document.Name</a></h3>
                    </div>
                    <div class="document-price">
                        <a asp-action="DocumentDesc" asp-controller="Home" asp-route-id="@document.Id">Sənədə baxış</a>
                        <a href="#">
                            <span>
                                @document.Price AZN
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</section>