@model DocumentDescViewModel
@* DOCUMENT INFO *@
<div class=" col-lg-2 py-3 col-md-2 col-sm-3 col-4 document-desc-img">
    <i class="fas fa-file-alt"></i>
</div>
<div class="col-lg-10 document-desc-info">
    <header class="col-lg-12">
        <h3 style="font-weight:bold;">@Model.Document.Name</h3>
    </header>
    <div class="col-lg-12 document-desc-price mt-3">
        <p>@Model.Document.Price AZN</p>
    </div>
    <div class="col-lg-12 document-short-desc mt-3">
        <p>@Model.Document.Description</p>
    </div>
    <div class="col-lg-12 mt-3 add-to-cart">
        @*<a asp-action="AddToShoppingCard" asp-controller="Home" asp-="@Model.Document.Id" class="add-button">Add to cart</a>*@
        @Html.ActionLink("Səbətə At", "AddToShoppingCard", "Home", new { id = @Model.Document.Id }, new { @class = "add-button" })
    </div>
</div>
@* END DOCUMENT INFO *@
<div class="col-lg-12 p-0 mt-5 document-desc-features">
    <header class="col-lg-12 p-0">
        <span class="description active" data-id="1">Sənəd Haqqında</span>
        <span class="review" data-id="2">Şərhlər(@ViewBag.commentCount)</span>
    </header>
    @* MAIN DESCRIPTION *@
    <div class="col-lg-12 description-wrapper features py-5 active" data-name="1">
        <header class="col-lg-12">
            <h3>@Model.Document.Name</h3>
        </header>
        <div class="description-content features col-lg-12">
            <p>@Model.Document.TermsOfUse</p>
        </div>
    </div>
    @* END MAIN DESCRIPTION *@
    <div class="col-lg-12 review-wrapper features py-5" data-name="2">
        <div class="row">
            @* SEND REVIEW *@
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-lg-12 send-review">
                    <header class="col-lg-12 p-0"></header>
                    <form method="post" asp-action="SendReview" asp-controller="Home">
                        @*<div class="form-group">
                                <label asp-for="Cm.User.Name">Username or email</label>
                                <input asp-for="Cm.User.Name" type="text" class="form-control" id="UserName" required>
                            </div>*@
                        <div class="form-group">
                            <label asp-for="Cm.Text">Şərh</label>
                            <textarea asp-for="Cm.Text" class="form-control" id="Question" rows="4" required></textarea>
                        </div>
                        <input type="number" asp-for="Document.Id" id="DocumentId" name="DocumentId" style="opacity:0;" />
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">GÖNDƏR</button>
                        </div>
                    </form>
                    <hr />
                </div>
            }
            else
            {
                <div class="alert alert-danger col-lg-12" role="alert">
                    Şərh yazmaq üçün login olmalısınız!
                </div>
            }
            @* END SEND REVIEW *@


            @* USER REVIEWS *@
            @foreach (Comment comment in Model.Cm.Comments)
            {
                @if (comment.Status || comment.User.UserName == User.Identity.Name)
                {
                    <div class="col-lg-12 reviews">
                        <div class="row">
                            @if (comment.User.UserName == User.Identity.Name)
                            {
                                <div class="col-lg-1">
                                    <img src="~/images/review.png" alt="Alternate Text" />
                                </div>
                                <div class="col-lg-10">
                                    <div class="col-lg-12 review-owner">
                                        <h5 style="font-weight:bold;">@comment.User.Name  @comment.User.Surname</h5>
                                    </div>
                                    <div class="col-lg-12 review-date">
                                        <p>@DateTime.Now.ToString("MM-dd-yyyy hh:mm")</p>
                                    </div>
                                    <div class="col-lg-12 review-content">
                                        <p>@comment.Text</p>
                                    </div>
                                </div>
                                <div class="col-lg-1">
                                    <a asp-action="DeleteReview" asp-controller="Home" asp-route-id="@comment.Id" class="btn btn-danger">Sil</a>
                                </div>
                            }
                            else
                            {
                                <div class="col-lg-1">
                                    <img src="~/images/review.png" alt="Alternate Text" />
                                </div>
                                <div class="col-lg-11">
                                    <div class="col-lg-12 review-owner">
                                        <h5 style="font-weight:bold;">@comment.User.Name  @comment.User.Surname</h5>
                                    </div>
                                    <div class="col-lg-12 review-date">
                                        <p>@DateTime.Now.ToString("MM-dd-yyyy hh:mm")</p>
                                    </div>
                                    <div class="col-lg-12 review-content">
                                        <p>@comment.Text</p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @* END USER REVIEWS *@
        </div>
    </div>
</div>
<div class="col-12 py-3 my-3 similar-documents">
    <div class="col-lg-12 similar-document-title">
        <h3>Oxşar Sənədlər</h3>
    </div>
    <div class="row">
        @foreach (Document document in Model.documents)
        {
            <div class="col-lg-3 pt-3 similar-document-wrapper col-md-3 col-sm-4">
                <div class="row">
                    <div class="col-6 mx-auto similar-document-img">
                        <i class="fas fa-file-alt"></i>
                    </div>
                    <div class="col-12 text-center mx-auto similar-document-desc">
                        <p style="font-weight:bold;">@document.Name</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>