@model PurchasedDocument

<div class="container">
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>@Model.User.Name @Model.User.Surname</strong>
                        <br>
                        @Model.User.Email
                        <br><br>
                        @*<abbr title="Activation Key">Activation Key:</abbr> @Model.ActivationCode*@
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Date: @Model.Date</em>
                    </p>
                    <p>
                        <em>Receipt #: @Model.Id</em>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Receipt</h1>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>#</th>
                            <th class="text-center">Price</th>
                            <th class="text-center">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="col-md-9"><em>@Model.Document.Name</em></h4></td>
                            <td class="col-md-1" style="text-align: center"> 1 </td>
                            <td class="col-md-1 text-center">AZN@Model.Price</td>
                            <td class="col-md-1 text-center">AZN@Model.Price</td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right">
                                <p>
                                    <strong>Subtotal: </strong>
                                </p>
                                <p>
                                    <strong>Tax: </strong>
                                </p>
                            </td>
                            <td class="text-center">
                                <p>
                                    <strong>$@Model.Price</strong>
                                </p>
                                <p>
                                    <strong>$0</strong>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td>   </td>
                            <td>   </td>
                            <td class="text-right"><h4><strong>Total: </strong></h4></td>
                            <td class="text-center text-danger"><h4><strong>$@Model.Price</strong></h4></td>
                        </tr>
                    </tbody>
                </table>

                @*@if (Model.Status == false)
                {
                    <a asp-action="PaymentConfirm" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-success btn-lg btn-block">
                        Confirm   <i class="fas fa-chevron-right"></i>
                    </a>
                }
                else
                {
                    <button class="btn btn-success btn-lg btn-block" disabled>
                        Confirmed <i class="fas fa-check"></i>
                    </button>
                }*@

            </div>
        </div>
    </div>
</div>